<!DOCTYPE html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta property="og:url" content="<%= htmlWebpackPlugin.options.openGraph.url %>" />
    <meta property="og:type" content="<%= htmlWebpackPlugin.options.openGraph.type %>" />
    <meta property="og:title" content="<%= htmlWebpackPlugin.options.openGraph.title %>" />
    <meta property="og:description" content="<%= htmlWebpackPlugin.options.openGraph.description %>" />
    <meta property="og:image" content="<%= htmlWebpackPlugin.options.openGraph.image %>" />
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
